*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    background-color: #fff;
  }

#mobile-nav-placeholder {
    display: none;
}

@media only screen and (max-width: 768px) {

    #mobile-nav-placeholder {
        display: block;
    }

    #nav-placeholder {
        display: none;
    }

  }